@model MealFridge.Models.ViewModels.MealRestrictions
@{
    ViewBag.Title = "Meal Plan";
}
<div class="container">
    <div id="modal-container"></div>
    <div class="btn-group w-100">
        <button class="btn btn-outline-primary  rounded-right shadow-lg" id="filter-button" type="button" data-toggle="collapse" data-target="#advanced-filters" aria-expanded="false" aria-controls="advanced-filters">
            Add filters
        </button>
        <form asp-action="DeleteOldMealPlan" asp-controller="MealPlan" method="post">
            <button title="Warning! This will delete your current meal plan!" class="btn btn-danger shadow-lg" id="delete-button" type="submit"> Clear current meal plan</button>
        </form>
        <button class="btn btn-outline-success rounded-left shadow-lg" id="generate" onclick="getMealPlan()">Generate meal plan</button>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="collapse" id="advanced-filters">
        <div class=" container-fluid  shadow-lg rounded-lg bg-white m-lg-2 p-lg-3">
            <partial name="MealFilter" model="@Model.MealFilter" />
        </div>
    </div>

    <div class="meal-plan-main"></div>

    <div class="m-lg-3" id="meals">

        @if (Model.Meals.Breakfast.Count() > 0 || Model.Meals.Lunch.Count() > 0 || Model.Meals.Dinner.Count() > 0)
        {
            <partial name="MealPlan" model="@Model.Meals" />
        }
        else
        {
            <div class="card w-25 p-0 m-0 shadow-lg rounded-pill">
                <h7><i> Nothing to show!</i></h7>
            </div>
        }
    </div>
    <div id="modal-container"></div>
</div>

<div class="fixed-bottom d-flex justify-content-center w-50 " id="alert"></div>
@section Scripts {
    <script src="~/js/MealPlan/Index.js"></script>
}