﻿ /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
/*https://codepen.io/devstreak/pen/dMYgeO --- Inspired by here -- */
::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-linear-gradient(top, #7ad8ff 0%, #26bfff 50%, #166f93 51%, #005e89 100%);
}

table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}

    table.table-fit thead th, table.table-fit tfoot th {
        width: 100% !important;
    }

    table.table-fit tbody td, table.table-fit tfoot td {
        width: 100% !important;
    }
/* Provide sufficient contrast against white background */

.btn-primary {
    color: antiquewhite;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: antiquewhite;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 20px;
    background-color: #F0F8FF;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.jumbotron {
    background-color: #FFF;
}

.biographyCard {
    margin-left: 5%;
    margin-top: 1.5%;
    margin-right: 5%;
    background-color: #e8eded;
}

    .biographyCard label {
        margin-left: 3%;
    }

    .biographyCard a {
        margin-left: 1.2%;
    }

    .biographyCard img {
        margin-left: 1.2%;
    }

    .biographyCard h3 {
        margin-left: .5%;
    }

#cnhIngredList {
    list-style: none;
    background-color: #FFF;
    margin-right: 60%;
    margin-left: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.75);
    padding-bottom: 1%;
}

#dietUpdateButton {
    margin-left: 9%;
    margin-top: -6%;
    display:inline-block;
}

#cnhIngredList ul {
    list-style: none;
}

#cnhIngredList h1 {
    margin-left: 1%;
}

#cnhIngredList p {
    margin-left: 2%;
    margin-top: -2%;
}

.cnhIngredButton {
    color: red;
    float: right;
    background: none;
    outline: 0;
    font-size: 100%;
    margin-top: .5%;
    border: none;
}

    .cnhIngredButton:hover {
        filter: invert(25%);
    }

#cnhIngredItem {
    outline-color: black;
    outline-style: solid;
    outline-width: .1px;
    background-color: #f0f0f0;
    margin-left: -7%;
    margin-right: 40%;
}

.card {
    background-color: #FFF;
}

.shadow-lg {
    box-shadow: 0 .5rem .5rem rgb(10 48 41 / 0.63) !important;
}

*:focus {
    outline: hidden;
}

#getStartedButton {
    color: #5cb85c;
}

/*Drop down Modiified from: https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp */
.dropbtn {
    color: black;
    padding: 16px;
    font-size: 175%;
    border: none;
    padding-top: 10%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #Ffff;
    min-width: 160px;
    color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.75);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

    .dropdown-content form:hover {
        background-color: #ddd;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #006582;
}

#dropdownicon {
    color: #FFF;
}

.input-group-append {
    z-index: 0;
}

#pantryTool {
    position: absolute;
    top: 100%;
    background-color: white;
    text-align: left;
    padding-left: 15%;
    padding-top: 15%;
    width: 10%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #5cb85c;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5cb85c;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

#pToolLabel {
    margin-left: 115%;
    margin-top: -15%;
    display: block;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

@media print {
    body * {
        visibility: hidden;
    }

    #innerShopping, #innerShopping * {
        visibility: visible;
    }

    #innerShopping {
        position: absolute;
        left: 0;
        top: 0;
    }
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    display: block;
    opacity: 0.6;
    background-color: #fff;
    z-index: 99;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

#loading-image {
    position: absolute;
    justify-content: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    right: 40%;
    left: 40%;
    bottom: 50%;
    z-index: 100;
}

.active, .nav-link:hover {
    background-color: aliceblue;
    color: black;
}

.li, .ul {
    display: inline-block;
}
/*https://stackoverflow.com/questions/4619542/linethrough-strikethrough-a-whole-html-table-row*/
table #shopping-list {
    border-collapse: collapse;
    empty-cells: show;
}

td {
    position: relative;
}

tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 8px solid #111;
    width: 100%;
}

tr.strikeout td:after {
    content: "\00B7";
    font-size: 1px;
}