@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;
@{ ViewBag.Title = "Search"; }
<div class="container">
    <h3 class="text-center">Search by Recipe Name or Ingredient!</h3>
    <div class="jumbotron-fluid h-25 shadow-lg border border-dark p-0 bg-light rounded-pill mb-lg-4" style="z-index:0">

        <div class="input-group">

            <div class="input-group-prepend">

                @if (signInManager.IsSignedIn(User))
                {
                        <button id="SearchInventory" class="float-right btn text-primary border-0" type="button" title="Find recipes based on ingredients in your fridge" onclick="inventorySearch()">
                            <i class="fas fa-box"></i>
                        </button>
                }
                <input id="inventorySearch" value="@Model" hidden />
                <select id="searchType" class="w-auto custom-select border-0 text-dark">
                    <option class="bg-dark text-light" value="Recipe">Recipe Name</option>
                    <option class="bg-dark text-light" value="Ingredient">Ingredient</option>
                </select>
            </div>
            <input id="sbn" type="text" required class="w-auto border-0 form-control" placeholder="Recipe name or ingredient" aria-label="Search for recipes by name">
            <div class="dropdown-menu-left">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Options
                    <span class="caret"></span>
                </button>
                <table class="dropdown-menu">
                    <tr>
                        <td>
                            <h5>Cuisines</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input title="African" id="African" type="button" value="&#x2753;" onclick="stateChange(this)" /> African<br />
                            <input title="American" id="American" type="button" value="&#x2753;" onclick="stateChange(this)" />American<br />
                            <input title="British" id="British" type="button" value="&#x2753;" onclick="stateChange(this)" />British<br />
                            <input title="Cajun" id="Cajun" type="button" value="&#x2753;" onclick="stateChange(this)" />Cajun<br />
                            <input title="Caribbean" id="Caribbean" type="button" value="&#x2753;" onclick="stateChange(this)" />Caribbean<br />
                        </td>
                        <td>
                            <input title="Chinese" id="Chinese" type="button" value="&#x2753;" onclick="stateChange(this)" />Chinese<br />
                            <input title="European" id="European" type="button" value="&#x2753;" onclick="stateChange(this)" />European<br />
                            <input title="French" id="French" type="button" value="&#x2753;" onclick="stateChange(this)" />French<br />
                            <input title="German" id="German" type="button" value="&#x2753;" onclick="stateChange(this)" />German<br />

                            <input title="Greek" id="Greek" type="button" value="&#x2753;" onclick="stateChange(this)" />Greek<br />
                        </td>
                        <td>
                            <input title="Indian" id="Indian" type="button" value="&#x2753;" onclick="stateChange(this)" />Indian<br />
                            <input title="Irish" id="Irish" type="button" value="&#x2753;" onclick="stateChange(this)" />Irish<br />
                            <input title="Italian" id="Italian" type="button" value="&#x2753;" onclick="stateChange(this)" />Italian<br />
                            <input title="Japanese" id="Japanese" type="button" value="&#x2753;" onclick="stateChange(this)" />Japanese<br />

                            <input title="Jewish" id="Jewish" type="button" value="&#x2753;" onclick="stateChange(this)" />Jewish<br />
                        </td>
                        <td>
                            <input title="Korean" id="Korean" type="button" value="&#x2753;" onclick="stateChange(this)" />Korean<br />
                            <input title="Latin American" id="Latin American" type="button" value="&#x2753;" onclick="stateChange(this)" />Latin American<br />
                            <input title="Mediterranean" id="Mediterranean" type="button" value="&#x2753;" onclick="stateChange(this)" />Mediterranean<br />
                            <input title="Mexican" id="Mexican" type="button" value="&#x2753;" onclick="stateChange(this)" />Mexican<br />

                            <input title="Middle Eastern" id="Middle Eastern" type="button" value="&#x2753;" onclick="stateChange(this)" />Middle Eastern<br />
                        </td>
                        <td>
                            <input title="Nordic" id="Nordic" type="button" value="&#x2753;" onclick="stateChange(this)" />Nordic<br />
                            <input title="Southern" id="Southern" type="button" value="&#x2753;" onclick="stateChange(this)" />Southern<br />
                            <input title="Spanish" id="Spanish" type="button" value="&#x2753;" onclick="stateChange(this)" />Spanish<br />
                            <input title="Thai" id="Thai" type="button" value="&#x2753;" onclick="stateChange(this)" />Thai<br />
                            <input title="Vietnamese" id="Vietnamese" type="button" value="&#x2753;" onclick="stateChange(this)" />Vietnamese<br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>More Options</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="cheapCheck" />
                            <label for="cheapMealsCheck">Low Cost Recipes</label>
                        </td>
                        <td>
                            <input type="checkbox" id="panCheck" />
                            <label for="panCheck">Refine Inventory Search</label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="input-group-append">
                <button class="btn text-dark border-0" title="search for recipes" onclick="searchByName()" type="button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="fixed-bottom d-flex justify-content-center w-50 " id="alert"></div>
    <div id="main" class="card-columns"></div>
    <div id="search-button" class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary  d-none w-50 mt-4 mb-5" id="morebutton" onclick="searchByName()">
            Get more recipes!
        </button>
    </div>
    <div id="modal-container"></div>
</div>
@section Scripts{
    <script src="~/js/Search/Index.js"></script>
    <script src="~/js/Search/RecipeDetails.js"></script>
}