@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;
@{ ViewBag.Title = "Search"; }
<div class="container">
    <h3 class="text-center">Search by Recipe Name or Ingredient!</h3>
    <div class="jumbotron-fluid h-25 shadow-lg border border-dark p-0 bg-light rounded-pill mb-lg-4" style="z-index:0">

        <div class="input-group">

            <div class="input-group-prepend">

                @if (signInManager.IsSignedIn(User))
                {
                    <div class="dropdown">
                        <button id="SearchInventory" class="float-right btn text-primary border-0" type="button" title="Find recipes based on ingredients in your fridge" onclick="inventorySearch()">
                            <i class="fas fa-box"></i>
                        </button>
                        <div class="dropdown-content bg-dark text-light" id="pantryTool">
                            <label class="switch" id="pSlider" title="Ignore common food items such as salt and water to improve search results when searching by ingredients in your inventory.">
                                <input type="checkbox" id="panCheck">
                                <span class="slider"><label id="pToolLabel">Refine</label></span>
                            </label>
                        </div>
                    </div>
                }
                <input id="inventorySearch" value="@Model" hidden />
                <select id="searchType" class="w-auto custom-select border-0 text-dark">
                    <option class="bg-dark text-light" value="Recipe">Recipe Name</option>
                    <option class="bg-dark text-light" value="Ingredient">Ingredient</option>
                </select>
            </div>
            <input id="sbn" type="text" required class="w-auto border-0 form-control" placeholder="Recipe name or ingredient" aria-label="Search for recipes by name">
            <div class="input-group-append">
                <button class="btn text-dark border-0" title="search for recipes" onclick="searchByName()" type="button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="fixed-bottom d-flex justify-content-center w-50 " id="alert"></div>
    <div id="main" class="card-columns"></div>
    <div id="search-button" class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary  d-none w-50 mt-4 mb-5" id="morebutton" onclick="searchByName()">
            Get more recipes!
        </button>
    </div>
    <div id="modal-container"></div>
    <input id="undoFavVal" type="hidden" value=""/>
</div>
@section Scripts{
    <script src="~/js/Search/Index.js"></script>
    <script src="~/js/Search/RecipeDetails.js"></script>
}