@model IEnumerable<Recipe>

@if (Model != null)
{
    @foreach (var r in Model)
    {
        <button class="btn" type="button" onClick="getDetails(@r.Id.ToString())" data-toggle="collapse" data-target="#info-@r.Id" aria-expanded="false" aria-controls="info-@r.Id">
            <div class="card shadow-lg">
                <img class="card-img-top" src="@r.Image" alt="Recipe Image">
                <div class="card-body">
                    <h4 class="card-title"> @r.Title </h4>
                </div>
            </div>
        </button>
    }
}
@if (Model == null)
{
    <p>No results found!</p>
}