@{
}
@model Search

<h1>Unclimbed Peaks</h1>
<div style="border: 1px solid black; padding:5px; margin-right:75%; background-color:whitesmoke" >
    <p>Search Again</p>
    <form asp-controller="Home" asp-action="FindPeaks" method=get>
        <div>
            <label> Season  </label>
            <select asp-for="Season">
                <option value="Any"> Any</option>
                <option value="Winter"> Winter</option>
                <option value="Spring">Spring</option>
                <option value="Summer"> Summer</option>
                <option value="Autumn"> Autumn</option>
            </select>
            <button type="submit"> Search </button>
        </div>
    </form>
    <p>@Model.Count Results Returned</p>
</div>

<div class="text-center p-2">
    <table class="table table-bordered table-striped table-sm table-dark">
        <thead>
            <tr>
                <th>
                    Peak
                </th>
                <th>
                    Season
                </th>
        </thead>
        <tbody>
            @foreach (var item in Model.ExpeditionList)
            {
                <tr>
                    <td> @item.Peak.Name </td>
                    <td> @item.Season </td>
                </tr>
            }
    </table>
</div>