@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card shadow-lg">
    <h1 class="text-center">About Us</h1>
    <img src="https://raw.githubusercontent.com/Jutter18/OTDev/main/Milestones/Milestone1/OTDLogo.png" style="width:200px;margin-left:auto;margin-right:auto;display:block;"/> 
    <p style="margin-left:5%; margin-right:5%;">We are <b>OTDevelopment</b>, the team behind <b>MealFridge</b>.</p>
    <p style="margin-left:5%; margin-right:5%;">
        <b>MealFridge</b> is a senior project web app developed by a four person SCRUM team utilizing AGILE
        Development Practices and Test Driven Development over the course of seven two week sprints. Each member of the team
        lent their skills to all layers of the technology stack. 
        Created for the Western Oregon University Computer Science Senior Capstone Course Series (CS 460-462)
    </p>
    <h2 class="text-center">The OTDev Team</h2>
    <div class="biographyCard">
        <h3>Trent Farley</h3>
        <span><img src="https://avatars.githubusercontent.com/u/46641192?v=4" style="width:100px" /><label> Trent is our master of the front-end and API management. Designing the Search page, Home page, Meal Planner<br /> page and more. He's designed each of the modals including the recipe cards.</label></span>
        <br><a href="https://github.com/Trent-Farley"><i class="fab fa-github"></i> GitHub</a>
    </div>
    <div class="biographyCard">
        <h3>Josh Utter</h3>
        <span><img src="https://avatars.githubusercontent.com/u/56055127?v=4" style="width:100px" /><label> Josh is our back-end specialist. He's handled the design of our database, deployment to Azure, managing GitHub, <br />as well as designing the Fridge. </label></span>
        <br><a href="https://github.com/Jutter18"><i class="fab fa-github"></i> GitHub</a>
    </div>
    <div class="biographyCard">
        <h3>Christian Morris</h3>
        <span><img src="https://avatars.githubusercontent.com/u/56059629?v=4" style="width:100px" /><label> Christian is our go-to for business logic. Handling calls in and out of the database for favoriting recipes,<br /> flagging ingredients and more.  </label></span>
        <br><a href="https://github.com/cmorris19"><i class="fab fa-github"></i> GitHub</a>
    </div>
    <div class="biographyCard">
        <h3>Chris Edwards</h3>
        <span><img src="https://avatars.githubusercontent.com/u/56051397?v=4" style="width:100px" /><label> Chris worked with the API and search page, giving users options on how to search for recipes. He designed <br /> the Dietary Restrictions and Food Preferences pages. As well as small touches such as the navbar and About sections.</label></span>
        <br><a href="https://github.com/chrisedwou"><i class="fab fa-github"></i> GitHub</a>
    </div>
    <h3 class="text-center"><a href="https://github.com/Jutter18/OTDev">View this Project on GitHub</a></h3>
</div>