<div class="container">
    <div class="jumbotron shadow-lg">
        <h3 class="text-center">Search by Recipe Name!</h3>
        <div class="input-group">
            <input id="sbn" type="text" class="form-control" placeholder="Hot Chili" aria-label="Search for recipes by name">
            <div class="input-group-append">
                <button class="btn btn-success" onclick="searchByName()" type="button">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    </div>
    <div id="main" class="card-columns"></div>
</div>

@section Scripts {
    <script src="~/js/SearchByName/Index.js"></script>
}