
@{ ViewBag.Title = "DietaryRestriction"; }
@model List<Restriction>
<div class="navbar">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="AccountManagement" asp-action="DietaryRestrictions">Dietary Restrictions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="AccountManagement" asp-action="FavoriteRecipes">Favorite Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="AccountManagement" asp-action="FoodPreferences">Food Preferences</a>
            </li>
        </ul>
    </div>
</div>
<div id="cnhIngredList">
    <h1>Restricted Ingredients</h1>
    <p>Ingredients Flagged as "Cannot Have"</p>
    @if (Model.Count() > 0) 
    {
        <ul>
        @foreach (var i in Model)
        {
            <li id="cnhIngredItem">
            <label>@i.Ingred.Name</label>
            <button type="button" title="Remove from list" class="cnhIngredButton" id="btn-@i.IngredId" onclick="removeRestrictedIngredient(@i.IngredId)">
                <i class="far fa-times-circle"></i>
            </button>
            </li>
        }
        </ul>
     }
     @if (Model.Count()<1) { <p>--Nothing to show--</p>}
</div>
@section Scripts{
    <script src="~/js/Preferences/Index.js"></script>
}