
@{
    ViewBag.Title = "DietaryRestriction";
}
<div class="navbar">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="AccountManagement" asp-action="DietaryRestrictions">Dietary Restrictions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="AccountManagement" asp-action="FavoriteRecipes">Favorite Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="AccountManagement" asp-action="FoodPreferences">Food Preferences</a>
            </li>
        </ul>
    </div>
</div>
<h1> Dietary Restrictions To Be Implemented</h1>