@model IEnumerable<Savedrecipe>
@{
    ViewBag.Title = "FavoriteRecipes";
}
<div class="navbar">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="AccountManagement" asp-action="DietaryRestrictions">Dietary Restrictions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="AccountManagement" asp-action="FavoriteRecipes">Favorite Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="AccountManagement" asp-action="FoodPreferences">Food Preferences</a>
            </li>
        </ul>
    </div>
</div>
<h1> Favorite Recipes To Be Implemented</h1>
@if (Model != null){
<table class="table" id="favrecipes">
    <thead>
        <tr>
            <th> Recipe Name </th>
        </tr>
    </thead>
    @foreach (var i in Model)
    {
        @if (i.Favorited == true)
        {
            <tbody>
                <tr>
                    <td> @i.Recipe.Title </td>
                    <td>  @Html.ActionLink("Delete", "DeleteRecipe", new { account_id = i.AccountId, recipe_id = i.RecipeId, })</td>
                </tr>
            </tbody>
        }
        else 
        {
            continue;
        }

    }
</table>
}
